*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans', sans-serif; 
    font-size: small;
}

.black-initial-color{
    animation: black-initial;
    animation-duration: 2s;
    position: fixed;
    top: 0;
    right: 0;
}

@keyframes black-initial{
    0%{
        width: 100%;
        height: 100vh;
        z-index: 110;
        background-color: black;
    }
    90%{
        width: 100%;
        height: 100vh;
        z-index: 110;
        background-color: black;
    }
    100%{
        width: 100%;
        height: 100vh;
        z-index: 110;
        background-color: rgba(0, 0, 0, 0.315);
    }
}

.spotify-logo-intro{
    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 111;
    width: 0;
    fill: rgb(28, 215, 96);
    animation: logo-initial;
    animation-duration: 2s;
}

@keyframes logo-initial{
    0%{
        width: 400px;
        right: calc(50% - 200px);
        bottom: calc(50% - 200px);
    }
    30%{
        width: 700px;
        right: calc(50% - 350px);
        bottom: calc(50% - 350px);
    }
    70%{
        width: 400px;
        right: calc(50% - 200px);
        bottom: calc(50% - 200px);
    }
    100%{
        width: 2000px;
        right: calc(50% - 1000px);
        bottom: calc(50% - 1000px);
    }
}

/* ********************
-------LEFT-MENU-------
******************** */
.left-menu{
    background-color: black;
    color: rgb(113, 113, 113);
    width: 230px;
    height: calc(100vh - 90px);
    position: fixed;
    left: 0;
    top: 0;
    padding-inline: 1em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.left-menu a:link, .left-menu a:visited{
    color: rgb(113, 113, 113);
    text-decoration: none;
}

.menu-logo{
    width: 70%;
    padding-bottom: 1.5em;
    animation: logo-left-boom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes logo-left-boom{
    30%{
        transform: scale(1.05);
    }
    50%{
        transform: scale(1.1);
    }
}

.search-menu li{
    list-style: none;
}

.search-menu li a{
    display: flex;
    align-items: center;
    gap: .5em;
    padding-bottom: .5em;
    position: relative;
}

.search-menu li svg{
    fill: rgb(113, 113, 113);
    width: 25px;
}

.green-left{
    height: 25px;
    width: 2px;
    background-color: greenyellow;
    position: absolute;
    left: -1em;
    top: 0;
    display: none;
}

.search-menu li a:hover .green-left{
    display: inline-block;
}

.search-menu li a:hover svg, .search-menu li a:hover div{
    fill: white;
    color: white;
}

.playlist-container{
    padding-top: 2em;
}

.playlist-container h4{
    color: white;
}

.crea-playlist{
    display: flex;
    align-items: center;
    gap: .5em;
    padding-top: 1em;
    padding-bottom: 1.5em;
    font-size: medium;
}

.plus-icon{
    background-color: rgb(113, 113, 113);
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plus-icon .fa-plus{
    display: inline-block;
    color: black;
    font-size: 2.2rem;
}

.crea-playlist:hover .plus-icon{
    background-color: white;
} 

.crea-playlist:hover div{
    color: white;
}    

.playlist-name li{
    list-style: none;
    padding-bottom: 1.5em;
}

.playlist-name li a:hover{
    color: white;
    cursor: pointer;
}

.profile-install{
    padding-bottom: .5em;
}

.profile-install .install{
    display: flex;
    align-items: center;
    gap: .5em;
}

.install svg{
    fill: rgb(113, 113, 113);
    width: 15px;
}

.install:hover svg, .install:hover div{
    fill: white;
    color: white;
}

.profile-install hr{
    border: .5px solid rgb(113, 113, 113);
    border-radius: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.profile-install .profile{
    display: flex;
    align-items: center;
    gap: .5em;
}

.profile svg{
    fill: white;
    width: 30px;
    height: 30px;
    background-color: rgb(113, 113, 113);
    border-radius: 50%;
}

.profile h3{
    color: white;
}

.profile:hover svg, .profile:hover h3{
    fill: black;
    text-decoration: underline;
}

@media (max-height: 710px){
    .playlist-name{
        height: 140px;
        overflow: scroll;
        z-index: -6;
    }
}

/* ********************
---LEFT-MENU-FINISH---
******************** */

/* ********************
---LEFT-MENU-PHONE---
******************** */
.left-menu-phone{
    background-color: black;
    color: rgb(113, 113, 113);
    width: 50px;
    height: calc(100vh - 90px);
    position: fixed;
    left: 0;
    top: 0;
    padding-inline: 1em;
    padding-top: 1em;
    display: none;
}

.left-menu-phone-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-menu-phone img{
    width: 30px;
    padding-top: .5em;
    padding-bottom: 2em;
    animation: logo-left-boom;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.search-menu-home-phone{
    padding-bottom: .15em;
    position: relative;
}

.search-menu-home-phone svg{
    fill: rgb(113, 113, 113);
    width: 25px;  
}

.green-left-phone{
    width: 2px;
    height: 25px;
    background-color: greenyellow;
    position: absolute;
    left: -1em;
    top: 0;
    display: none;
}

.search-menu-home-phone:hover{
    cursor: pointer;
}

.search-menu-home-phone:hover .green-left-phone{
    display: inline-block;
}

.search-menu-home-phone:hover svg{
    fill: white;
}

.profile-install-phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: .5em;
    gap: 2em;
}

.profile-install-phone svg:first-child{
    fill: rgb(113, 113, 113);
    width: 15px;
}

.profile-install-phone svg:first-child:hover{
    fill: white;
    cursor: pointer;
}

.profile-install-phone svg:last-child{
    fill: white;
    width: 30px;
    height: 30px;
    background-color: rgb(113, 113, 113);
    border-radius: 50%;
}

.profile-install-phone svg:last-child:hover{
    cursor: pointer;
    fill: black;
}

@media (max-width: 645px){
    .left-menu{
        display: none;
    }
    .left-menu-phone{
        display: inline-block;
    }
}
/* ************************
---LEFT-MENU-PHONE-FINISH--
************************* */









/* ********************
---------HOME---------
******************** */
.home{
    background-color: rgb(20, 25, 34);
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    position: fixed;
    top: 0;
    right: 0;
    overflow: scroll;
    padding-left: 1em;
    padding-right: 1em;
}

@media (max-width: 645px){
    .home{
        width: calc(100% - 50px);
    }
}

nav{
    margin-top: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5em;
    color: rgb(113, 113, 113);
    padding-top: 1em;
}

nav a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .3em;
}

.green-nav{
    height: 2px;
    width: 50px;
    background-color: greenyellow;
    text-align: center;
    display: none;
}

nav a:hover .green-nav{
    display: inline-block;
}

nav a, nav a:visited, nav a:link{
    color: rgb(113, 113, 113);
    text-decoration: none;
    width: auto;
}

nav a:hover{
    color: white;
}

@media (max-width: 850px){
    .nav{
        max-width: 295px;
    }
    nav div{
        min-width: 97px;
    }
}

nav hr{
    width: 30%;
    text-align: center;
    
}

.recently{
    padding-top: 5em;
}

.recently h2{
    color: white;
    padding-bottom: 1em;
    font-size: 2rem;
}

.recently-container{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.recently-box{
    flex: 1 1 calc((100% - (5 * 1em)) / 6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.song-play{
    flex: 0 1 calc((100% - (5 * 1em)) / 6);
    position: relative;
    aspect-ratio: 1/1;
}

.recently-box img{
    width: 100%;
    aspect-ratio: 1/1;
}

.recently-box h3{
    color: white;
    padding-top: .8em;
    padding-bottom: .3em;
    padding-inline: .2em;
}

.recently-box div{
    color: rgb(113, 113, 113);
}

.foryou{
    padding-top: 3em;
}

.foryou h2{
    font-size: 2rem;
    color: white;
}

.foryou .under-title{
    color: rgb(113, 113, 113);
    padding-top: .5em;
    padding-bottom: 2em;
}

.foryou-container{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.foryou-box{
    flex: 0 1 calc((100% - (5 * 1em)) / 6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foryou-box img{
    width: 100%;
    aspect-ratio: 1 / 1;
}

.foryou-box h3{
    color: white;
    padding-top: .8em;
    padding-bottom: .3em;
}

.song-play i{
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: calc((100% - 4rem) / 2);
    opacity: 0;
}

.song-play:hover{
    background-color: rgba(0, 0, 0, 0.679);
    cursor: pointer;
}

.song-play:hover i{
    opacity: 100;
}

.popular{
    padding-top: 3em;
    padding-bottom: 3em;
}

.popular h2{
    font-size: 2rem;
    color: white;
}

.popular .under-title{
    color: rgb(113, 113, 113);
    padding-top: .5em;
    padding-bottom: 2em;
}

.popular-container{
    display: flex;
    justify-content: flex-start;
    gap: 1em;
}

.popular-box{
    flex: 0 1 calc((100% - (5 * 1em)) / 6);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popular-box img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.popular-box h3{
    color: white;
    padding-top: .8em;
    padding-bottom: .3em;
}

.song-play-circle{
    flex: 0 1 calc((100% - (5 * 1em)) / 6);
    position: relative;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.song-play-circle i{
    background-color: rgba(0, 0, 0, 0.411);
    font-size: 4rem;
    color: white;
    position: absolute;
    left: 0;
    top: 0;
    padding: calc((100% - 4rem) / 2);
    opacity: 0;
    border-radius: 50%;
}

.song-play-circle:hover{
    background-color: rgba(0, 0, 0, 0.679);
    cursor: pointer;
}

.song-play-circle:hover i{
    opacity: 100;
}
@media (max-width:1060px){
    .recently-container{
        flex-wrap: wrap;
    }
    .recently-box{
        min-width: 200px;
    }
    .foryou-container{
        flex-wrap: wrap;
    }
    .foryou-box{
        min-width: 200px;
        flex: 1 1 calc((100% - (5 * 1em)) / 6);
    }
    .popular-container{
        flex-wrap: wrap;
    }
    .popular-box{
        min-width: 200px;
        flex: 1 1 calc((100% - (5 * 1em)) / 6);
    }
}

@media (max-width:850px){
    .recently-container{
        flex-wrap: wrap;
    }
    .recently-box{
        min-width: 160px;
    }
    .foryou-container{
        flex-wrap: wrap;
    }
    .foryou-box{
        min-width: 160px;
    }
    .popular-container{
        flex-wrap: wrap;
    }
    .popular-box{
        min-width: 160px;
    }
}
/* ********************
------HOME-FINISH-----
******************** */









/* ********************
--------PLAYER---------
******************** */

.player{
    background-color: rgb(40, 40, 40);
    color: white;
    width: 100%;
    height: 90px;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
    padding-inline: 1em;
}

.player-left{
    width: 15%;
    min-width: 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.track-player{
    display: flex;
    align-items: center;
    position: relative;
}

.track-player img{
    width: 60px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    padding-right: 1em;
}

.track-player div{
    display: inline-block;
}

.track-player div div:hover{
    text-decoration: underline;
    cursor: pointer;
}

.green-play-arrow{
    background-color: rgba(172, 255, 47, 0.381);
    border: .1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    left: 20%;
    bottom: 53.5%;
    display: none;
}

.green-play-arrow i{
    color: black;
    font-size: 1.3rem;
    padding-top: 10%;
    padding-left: 17%;
}

.like-folder i{
    padding-inline: .3em;
    font-size: medium;
    color: rgb(193, 193, 193);
}

.like-folder i:hover{
    cursor: pointer;
    color: white;
}

.player-left-phone{
    position: fixed;
    bottom: 90px;
    left: 50px;
    height: 60px;
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 32, 32);
    border-radius: 1em;
    display: none;
    
}

.track-player-phone{
    display: flex;
    align-items: center;
}

.track-player-phone img{
    height: 60px;
    aspect-ratio: 1 / 1;
    padding: .5em;
    border-radius: 1em;
}

.like-folder-phone i{
    padding-right: .5em;
    font-size: 2rem;
    display: inline-block;
    color: rgb(193, 193, 193);
}

.like-folder-phone i:hover{
    cursor: pointer;
    color: white;
}

.track-player-phone div{
    display: inline-block;
}

.track-player-phone div div:hover{
    text-decoration: underline;
    cursor: pointer;

}

@media (max-width: 645px){
    .player-left-phone{
        display: block;
        display: flex;

    }
}

.player-center{
    flex: 1 1 calc(70% - 6em);
    line-height: 2;
}

.player-bttn{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.player-bttn i{
    flex: 0 1 auto;
    font-size: 2rem;
    transition: all .3s;
}

.player-bttn i:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.player-line{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.player-line .time:hover{
    text-decoration: underline;
}

.time-line-big{
    height: 4px;
    flex: 0 1 425px;
    background-color: rgb(90, 90, 90);
    border-radius: 2em;
    position: relative;
}

.time-line-small{
    height: 4px;
    width: 28%;
    background-color: rgb(193, 193, 193);
    border-radius: 2em;
}

.player-right{
    width: 15%;
    min-width: 230px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

.player-right i{
    transition: all .3s;
}

.player-right i:hover{
    transform: scale(1.4);
    cursor: pointer;
}

.volume-line-big{
    height: 4px;
    flex: 0 1 125px;
    background-color: rgb(90, 90, 90);
    border-radius: 2em;
    position: relative;
}

.volume-line-small{
    height: 4px;
    width: 28%;
    background-color: rgb(193, 193, 193);
    border-radius: 2em;
}

.time-line-bttn, .volume-line-bttn{
    width: 15px;
    aspect-ratio: 1 / 1;
    background-color: white;
    position: absolute;
    top: -130%;
    left: 26%;
    border-radius: 50%;
    display: none;
}

.player-line:hover .time-line-bttn, .volume-line-big:hover .volume-line-bttn{
    display: inline-block;
}

.player-line:hover, .player-right:hover{
    cursor: pointer;
}

.player-line:hover .time-line-small, .volume-line-big:hover .volume-line-small{
    background-color: rgb(191, 241, 100);
}

@media (max-width: 1000px){
    .player-left{
        min-width: 180px;
    }
    .player-right{
        min-width: 180px;
    }
}

@media (max-width: 645px){
    .volume-line-big{
        display: none;
    }
    .player-right{
        min-width: 0;
    }
    .player-left{
        min-width: 0;
        display: none;
    }
    .track-player div{
        display: none;
    }

}

/* ********************
-----PLAYER-FINISH-----
******************** */





.upgrade-bar{
    background-color: rgba(0, 0, 0, 0.343);
    height: 90px;
    width: calc(100% - 230px);
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2em;
}

.upgrade-bar div{
    color: white;
    padding-inline: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid white;
    border-radius: 2em;
    transition: all .5s;
}

.upgrade-bar div:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media (max-width: 645px){
    .upgrade-bar{
        width: calc(100% - 50px);
    }
}
